{% extends 'base.html' %}
{% block body %}
{% for i in data %}
<!-- Begin Author Posts
	================================================== -->
	<div class="graybg authorpage">
		<div class="container">
			<div class="listrecent listrelated">
				
				<!-- begin post -->
				<div class="authorpostbox">
					<div class="card">
						<a href="author.html">
							{% comment %} <img class="img-fluid img-thumb" src="{%static 'assets/img/demopic/8.jpg'%}" alt=""> {% endcomment %}
						</a>
						<div class="card-block">
							<h2 class="card-title"><a href="blogpost/{{i.title}}">{{i.title}}</a></h2>
							<h4 class="card-text">{{i.description|slice:300|safe}}</h4>
							<div class="metafooter">
								<div class="wrapfooter">
									<span class="meta-footer-thumb">
										<a href="author.html"><img class="author-thumb" src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x" alt="Sal"></a>
									</span>
									<span class="author-meta">
										<span class="post-name"><a href="author.html">{{i.name}}</a></span><br/>
										<span class="post-date">{{i.datetime}}</span><span class="dot"></span><span class="post-read"></span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end post -->
				
				
				
			</div>
		</div>
	</div>
{% endfor %}
{% endblock body %}